@charset "UTF-8"

*{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body{
    background-image: linear-gradient(to right,#F26513, #f0c77b);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #ff5203;
    width: 600px;
    padding: 10px;
    margin: auto;
    
}

h1{
    color: #113361 ;
    text-align: center;
    text-shadow: 1px 1px 1px #6fb2ff;
}

h2 {
    color: #f77e0e;
}

p{
    text-align: justify;
    color: #030303;
    background-image: linear-gradient(to right, #f7ae69, white,#f7ae69);
    padding: 5px;
}
